* {
    padding: 0px;
    margin: 0px;
}

:root {
    --c1: #E8ECF1;
    --c2: #B5CFD8;
    --c3: #7393A7;
    --c4: #6C737E;

  }

  nav .brand-logo {
    margin-left: 10px;
}

nav .brand-logo i, nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"], nav .brand-logo i.material-icons {
    float: right;
    margin-left: 5px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: var(--c1);
    border-color: var(--c4);
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.nav-wrapper {
    background-color: var(--c3);
}

#container { 
    display: flex;
    width: 100vw;
    border-bottom: 10px;
    border-color: var(--c3);
    min-height: 90vh;
}
#sidebar {
    min-height: 90vh;
    background-color: var(--c2);
    margin: 1px;
    box-shadow: var(--col4);
}

select {display: inline;}

label {
 color: var(--c4);
}

.list {
    width: 100vw;
    max-height: 90vh;
    height: 90vh;
    background-color: var(--c1);
    margin: auto;
    text-align: center;
    background-image:url("../images/stock-trading.jpg");
    opacity: 0.08;
    
}

#content ul {
    width: 80vw;
}

.search {
    background-color: var(--c1);
    width: 18vw;
}

.dateRange {
     display: inline;
}

label {
    font-size: 1.5rem;
}

.pinned {
    font-family: 'Gemunu Libre', sans-serif;
    background-color: var(--c1);
    display: flex;
    flex-direction: column;

}

label, p, .bookmarks {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

button {
    color: var(--c1);
    background-color: var(--c4);
    border: 0px;
    margin: auto;

.modal {
    display: none;
}